# The URL for the pathfinding backend. The app will know you're running locally, and will choose "...DEV_API")
REACT_APP_OPTIMAL_ROUTE_DEV_API=https://routeapi-gevj.onrender.com/route # 
REACT_APP_OPTIMAL_ROUTE_PROD_API=https://routeapi-gevj.onrender.com/route
REACT_APP_RNG_SALT=aardvark # The salt used to generate the daily challenge seed (optional)