# production
/build
.env.local
.env

# misc
/node_modules
.vscode
.build
.prettierrc
.DS_Store
gtfs_subway/
archive/
notes.md

.yarn/*
yarn-debug.log*
yarn-error.log*
npm-debug.log*

src/components/static/SubwayMap.*
src/logic/python/json_convert.py
src/scripts/gtfs.db
src/scripts/gtfs.sqbpro

