.station-frag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* keeps dot and label centered */
    overflow: visible;
    /* don’t clip anything */
}

.station-frag-content {
    margin-bottom: 1.5rem;
    transform: rotate(-38deg);
    position: relative;
    /* RELATIVE TO DOT POSITION: */
    bottom: 2em;
    left: 3em;
    width: auto;
    transform-origin: bottom;
    margin-bottom: 1.2em;
    opacity: 0.6;
}

.chrome .station-frag-content {
    bottom: 1.8em;
    /* Slightly lower to save vertical space */
    left: 2.8em;
    /* Pulled in slightly */
}

.current-station .station-frag-content {
    opacity: 1;
}

.station-frag-info {
    display: flex;
    align-items: center;
    gap: 0.15rem;
}

.station-frag-name {
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: visible;
    max-width: none;
    /* overflow: visible; */
    transition: transform 0.2s ease-in-out;
    transform-origin: left center;
    padding-right: 0.5rem;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
}

.chrome .station-frag-name {
    font-size: 0.7rem;
    padding-right: 1.2rem;
}

.current-station .station-frag-name {
    transform: scale(1.12);
}

.current-station .transfer-lines {
    margin-left: 0.1rem;
    transform: translateX(0.2rem);
}

.chrome .current-station .station-frag-name {
    transform: scale(1.35);
}

.chrome .current-station .transfer-lines {
    margin-left: 0.2rem;
    transform: translateX(0.4rem);
}

.station-dot {
    width: 1.25rem;
    height: 1.25em;
    background-color: var(--dot-color);
    border-color: var(--line-color);
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15rem;
    position: relative;

    transform: translate(-50%, 50%) scale(0.6);
    border-width: 0.15rem;
    transition: transform 0.2s ease-in-out, border-width 0.2s ease-in-out;
}

.current-station .station-dot {
    transform: translate(-50%, 50%) scale(1);
    border-width: 0.4rem;
}

.chrome .current-station .station-dot {
    transform: translate(-50%, 50%) scale(0.8);
}

.transfer-lines {
    display: flex;
    flex-shrink: 0;
    transition: transform 0.2s ease-in-out, margin-left 0.2s ease-in-out;
    margin-left: -0.2rem;
}

.chrome .transfer-lines {
    margin-left: -1rem;
}

.station-frag-content.overflow .station-frag-name,
.station-frag-content.overflow .transfer-lines {
    white-space: normal;
    overflow-wrap: break-word;
}

.station-frag-content.extra-overflow .station-frag-name,
.station-frag-content.extra-overflow .transfer-lines {
    white-space: normal;
    overflow-wrap: break-word;
    /* transform: translateX(1em); */
}

.station-frag-container.current-station .station-frag-content.overflow, .station-frag-container.current-station .station-frag-content.extra-overflow {
    margin-bottom: 0.5em;
    /* less margin when it's current station to reduce distance */
}

/* 
    StationFragment is reused in VerticalUpcomingStations
    Below are styling modifications for such
*/
.upcoming-stations-vertical-container .station-frag-container .station-frag-content {
    transform: rotate(0deg);
    /* vertical list requires no rotate */
    top: 2em;
    left: 6em;
    margin-bottom: 0;
}