.station-frag-vertical-container {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.station-dot-container {
    flex: 0 0 2.5em;
    position: relative;
    z-index: 0;
}

.station-dot-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: calc(100% + 1.5em);
    background-color: var(--line-color);
    transform: translateX(-50%);
}

.station-dot-vertical {
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--dot-color);
    border: 0.15rem solid var(--line-color);
    border-radius: 50%;
    position: relative;
    z-index: 10;
    top: 0.3rem;
    left: 50%;

    transform: translateX(-50%) scale(1);
    transition: transform 0.2s ease-in-out;
}

.current-station-vertical .station-dot-vertical {
    transform: translateX(-50%) scale(1.6);
}

.station-frag-vertical-content {
    flex: 1;
    min-width: 0;
    padding-left: 0.5em;
}

.station-frag-vertical-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.station-frag-vertical-name {
    font-size: 1.02rem;
    margin: 0;
    white-space: normal;
}

.transfer-lines-vertical {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.station-frag-vertical-name,
.transfer-lines-vertical {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

.current-station-vertical .station-frag-vertical-name,
.current-station-vertical .transfer-lines-vertical {
    opacity: 1;

}

@media (max-width: 768px) {
    .station-frag-vertical-name {
        font-size: 0.85rem;
    }

    .station-frag-vertical-content {
        padding-left: 0;
    }

    .station-dot-container::before {
        height: calc(100% + 2em);
    }
}