.accordion-wrapper {
    display: flex;
    align-items: center;
    z-index: 1;
    opacity: 1;
    column-gap: 0.5em;

    transition: opacity 0.5s ease-out;
}

.accordion-wrapper.hidden {
    opacity: 0;
}