.upcoming-stations-vertical-container {
    display: flex;
    position: relative;
    z-index: 20;
    opacity: 1;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    transition: opacity 0.3s ease;
}

.upcoming-stations-vertical-container:hover {
    scrollbar-color: var(--line-color) transparent;
}

.stations-vertical {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5em;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 18em;
}

.line-divider-vertical {
    position: absolute;
    top: 25vh;
    left: 6.65em;
    z-index: 0;
    height: 0.3rem;
    background-color: var(--line-color);
    transform: translateX(-50%) rotate(90deg);
    /* rotate (obvi) */
}