.action-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 5rem;
    background: none; 
    border: none;     
    outline: none;    
    cursor: pointer;   
    font: inherit;     
    color: inherit; 
    z-index: 2;  
}

.icon {
    height: 2rem;
    width: 2rem;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: var(--bg-color-2);
    border: 0.1em solid var(--bg-color-3);
}

.small-button {
    height: 1.5rem;
    width: 1.5rem;
}

.icon:hover {
    cursor: pointer;
    background-color: var(--bg-color-3);
}

.label {
    margin: 0;
    width: min-content;
    font-size: small;
    font-weight:600;
    font-family: Inter, system-ui, sans-serif;
    word-wrap: break-word;
}
