.additional-input-container {
    display: flex;
    column-gap: 0.25rem;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    opacity: 1;
}

.additional-input {
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
    width: 2rem;
    height: 2rem;
    margin: 0;
    border: 1px solid var(--bg-color-2);
    border-radius: 0.25em;
    background-color: var(--bg-color);
    caret-color: var(--text-color);
    letter-spacing: 0.25px;
    line-height: 0.7em;
    opacity: 1;
}

.reset-input-button {
    height: 1.25rem;
    width: 1.25rem;
    padding: 0.5em;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}


.reset-input-button:hover {
    cursor: pointer;
    background-color: var(--bg-color-3);
    border-radius: 25%;
}

input[type='number']:focus-visible {
    outline: solid 0.1em var(--bg-color-3);
}

.additional-input:invalid {
    border-color: #b71d1d;
    background-color: #b71d1d7b;
}

.additional-input:valid {
    border-color: var(--line-color);
    background-color: var(--bg-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    appearance: textfield;
}
