/* Door.css */
.door {
    border-top: 1px solid var(--train-car-border);
    border-left: 1px solid var(--train-car-border);
    border-right: 1px solid var(--train-car-border);
    padding: 0.3em;
    border-radius: 0.1em;
    width: 2.25em;
    align-self: stretch;
    background-color: var(--train-car-bg);
    margin: 0;
}

.door-left {
    border-right: none;
}

.doors {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0 1em;
    gap: 0;
    align-self: stretch;
    padding-top: 0.5em;
}
