.stations-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-top: 1em;
}

.station-box {
    flex: 1 1;
    width: 26em;
    max-width: 26em;
    background-color: var(--bg-color-2);
    border: 3px solid var(--bg-color-3);
    border-radius: 0.75em;
    padding: 0.2em 2em 1em 2em;
    box-shadow: 0 0 0.25em var(--box-shadow);
}

/* TODO: CLEAN UP */
.station-box.win-state {
    box-shadow: 0 0.5em 1em rgba(90, 232, 149, 0.3), 0 0 10em rgba(90, 232, 149, 0.2);
    border-color: rgba(90, 232, 149, 0.5);
    transition: box-shadow 0.5s ease, border-color 0.5s ease-in-out;
}

.dark-mode .station-box.win-state {
    box-shadow: 0 0.5em 1em rgba(90, 232, 149, 0.2), 0 0 10em rgba(90, 232, 149, 0.15);
    border-color: rgba(90, 232, 149, 0.4);
    transition: box-shadow 0.5s ease, border-color 0.5s ease-in-out;
}

.win-state .train-car {
    box-shadow: 0 0.5em 0.75em rgba(90, 232, 149, 0.3), 0 0 5em rgba(90, 232, 149, 0.2);
    border-radius: 1em 1em 0.2em 0.2em;
}

.conductor-mode-buttons-container {
    display: flex;
    column-gap: 1em;
    padding-left: 0.5em;
}

.station-box h2 {
    margin-bottom: 15px;
}

.station-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.action-buttons-container#destination-station {
    display: flex;
    justify-content: flex-end;
}