.line-svgs-container {
    display: flex;
    column-gap: 0.25em;
    opacity: 1;
}

/* -------------- CONTAINER MODIFICATIONS -------------- */

/* --- grouped --- */
.line-svgs-container.grouped {
    flex-wrap: wrap;
    row-gap: 0.25em;
    width: 5rem;
    transform: scale(1);
    transition: transform ease-in-out 0.1s;
    flex-shrink: 0;
    /* ESSENTIAL */
}

.line-svgs-container.grouped.num-lines-1 {
    align-items: center;
    justify-content: center;
}

.line-svgs-container.grouped.num-lines-2 {
    align-items: center;
}

.line-svgs-container.grouped.num-lines-3 {
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    width: 4.95em;
}

.staircase-container:not(.mirrored) .line-svgs-container.grouped.num-lines-3 {
    right: 2.3em;
}

.line-svgs-container.grouped:not(.selectable):hover {
    cursor: pointer;
    transform: scale(1.25);
}

/* --- wide --- */
.line-svgs-container.wide {
    min-width: 16rem;
}

/* --- small --- */
.line-svgs-container.small {
    column-gap: 0.15em;
    flex-wrap: wrap;
    row-gap: 0.15em;
    min-width: 6rem;
}

/* --- mirrored (staircase tunnel stuff) --- */
.mirrored .line-svgs-container {
    opacity: 0;
    /* transition: opacity 0.5s ease; */
}

.mirrored .line-svgs-container.show-flipped {
    opacity: 1;
    transition: opacity 0.5s ease, transform ease-in-out 0.1s;
}

/* --- vertical (not used yet) --- */
.line-svgs-container.vertical {
    flex-direction: column;
    row-gap: 0.25em;
}

/* ----------------------------------------------------- */

.line-svg-image {
    height: 2rem;
    width: 2rem;
    opacity: 1;

    --hover-scale: 1;
    --active-scale: 1;

    transform: translateY(0) scale(var(--hover-scale)) scale(var(--active-scale));
    transition: transform 0.1s ease-out;
}

.selectable .line-svg-image:active {
    --active-scale: 0.90;
}


.selectable .line-svg-image:hover {
    --hover-scale: 1.10;
    cursor: pointer;
    transition: transform ease-in-out 0.1s;
}

.selectable .line-svg-image.jiggle-animation {
    animation: jiggle 0.5s ease-in-out infinite;
}

.small {
    height: 1rem;
    width: 1rem;
}


/* tedious, but necessary to keep animation "smooth" */
@keyframes jiggle {
    0% {
        transform: translateY(0) scale(var(--hover-scale)) scale(var(--active-scale));
    }

    25% {
        transform: translateY(1px) scale(var(--hover-scale)) scale(var(--active-scale));
    }

    50% {
        transform: translateY(-1px) scale(var(--hover-scale)) scale(var(--active-scale));
    }

    75% {
        transform: translateY(1px) scale(var(--hover-scale)) scale(var(--active-scale));
    }

    100% {
        transform: translateY(0) scale(var(--hover-scale)) scale(var(--active-scale));
    }
}