.LineInfo-container {
    display: flex;
    align-items: center;
}

.LineInfo-container:hover {
    cursor: default;
}

.line-svg-image {
    height: 2rem;
}

.line-svg-image>.flipped-layout {
    transform: scaleY(1);
}