.line-svgs-container {
    display: flex;
    column-gap: 0.25em;
}

.line-svg-image {
    height: 2rem;
    width: 2rem;
    opacity: 1;

    --hover-scale: 1;
    --active-scale: 1;

    transform: translateY(0) scale(var(--hover-scale)) scale(var(--active-scale));
    transition: transform 0.1s ease-out;
}

#current-station .line-svg-image:active {
    transform: scale(0.95) 
}

#current-station .line-svg-image:hover {
    --hover-scale: 1.05;
    cursor: pointer;
    transition: transform ease-in-out 0.1s;
}


#current-station .line-svg-image.jiggle-animation {
    animation: jiggle 0.5s ease-in-out infinite;
}


#destination-station .line-svg-image:hover {
    transform: none !important;
    cursor: default;
}

.small {
    height: 1rem;
    width: 1rem;
    opacity: 1;
}

.line-svgs-container.small {
    display: flex;
    column-gap: 0.15em;
    flex-wrap: wrap;
    row-gap: 0.15em;
    min-width: 6rem;
}

.line-svgs-container.wide {
    min-width: 16rem;
}

/* tedious, but necessary to keep animation "smooth" */
@keyframes jiggle {
    0% {
        transform: translateY(0) scale(var(--hover-scale)) scale(var(--active-scale));
    }

    25% {
        transform: translateY(1px) scale(var(--hover-scale)) scale(var(--active-scale));
    }

    50% {
        transform: translateY(-1px) scale(var(--hover-scale)) scale(var(--active-scale));
    }

    75% {
        transform: translateY(1px) scale(var(--hover-scale)) scale(var(--active-scale));
    }

    100% {
        transform: translateY(0) scale(var(--hover-scale)) scale(var(--active-scale));
    }
}