.optimal-route-window-container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-2);
    padding: 1em;
    border: 4px solid var(--bg-color-3);
    border-radius: 1em;
    max-width: 80vw;
    min-width: 60vw;
    min-height: 15em;
    overflow: scroll;
    z-index: 2;
    scrollbar-width: none;
    -ms-overflow-style: none;
    justify-content: center;
    position: relative;
}


.optimal-route-request-container {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: self-start;
    padding: 2em;
    background-color: var(--bg-color-2);
    border: solid 2px var(--bg-color-3);
    border-radius: 1em;
}

.optimal-stations-horizontal {
    display: flex;
    align-items: center;
    gap: 0;
    height: 20ch;
    padding-left: 5em;
    /* reverse offset for the offset to center station names below their dots */
}

.optimal-station-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.station-with-line {
    display: flex;
    align-items: center;
    gap: 0;
}

.transfer-lines-wrapper {
    height: 2.5em;
    /* or however tall your TransferLines component is */
    display: flex;
    align-items: center;
}

.transfer-placeholder {
    height: 2.5em;
    /* width: 100%; */
    visibility: hidden;
    /* keeps layout space, but doesn't render */
}

.optimal-line-svg-image {
    position: relative;
    right: 4px;
}

.optimal-station-name {
    font-size: large;
    font-family: 'Helvetica';
    font-weight: 650;
    position: relative;
    right: 2em;
    /* offset to center station names below their dots */
}

.optimal-station-dot {
    width: 1em;
    height: 1em;
    background-color: var(--dot-color);
    border-color: #fff;
    border-radius: 50%;
    border-width: 0.3rem;
    border-style: solid;
    position: relative;
    z-index: 2;
}



.line-divider-custom {
    height: 0.5rem;
    min-width: 6em;
    flex-grow: 1;
}

.optimal-route-action-buttons {
    display: flex;
    margin-top: 1em;
    align-self: end;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}