.platform-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: position 0.5s ease;
}

.platform {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 17em;
    width: 60vw;
}

/* Fix chrome aspect ratio issue */
.chrome .platform {
    min-height: 13em;
}


.transfer-stairs-left {
    position: absolute;
    right: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1em;
    width: 10em;
}

.destination-station-right {
    position: absolute;
    left: 99%;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20em;
}

.train-cars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.uptown-button-offset {
    position: relative;
    bottom: 30px;
    z-index: 1;
}

.downtown-button-offset {
    position: relative;
    top: 30px;
    z-index: 1;
}