.platform-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: position 0.5s ease;
}

.platform {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 17em;
    width: 60vw;
}

/* Fix chrome aspect ratio issue */
.chrome .platform {
    min-height: 13em;
}


.transfer-tunnels {
    position: absolute;
    right: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 10em;
}

.destination-station-rider-mode {
    position: absolute;
    left: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    border: dashed 1px var(--text-color-opaque);
    padding: 0 1em 0 1em;
}

.platform-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uptown-button-offset {
    position: relative;
    bottom: 30px;
    z-index: 1;
}

.downtown-button-offset {
    position: relative;
    top: 30px;
    z-index: 1;
}