.passenger {
    width: 4em;
    height: 4em;
    margin: auto;
    position: absolute;
    z-index: 100;

    transition: transform var(--walking-duration) linear;
}

.chrome .passenger {
    height: 3.8em;
    width: 4.1em;
}

.passenger:hover {
    cursor: pointer;
}