.accordion-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    align-items: center;
    max-width: fit-content;
    z-index: 2;
    opacity: 1;
}

.accordion-wrapper.hidden {
    opacity: 0;
}