.station-frag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vm;
    max-height: 100%;
}

.station-frag-content {
    margin-bottom: 1.5rem;
    width: fit-content;
    transform: rotate(-45deg);
    position: relative;
    /* RELATIVE TO DOT POSITION: */
    bottom: 2em;
    left: 3em;
}

.station-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.station-frag-name {
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Chrome */
    max-width: 16ch;
}

.station-dot {
    width: 0.75rem;
    height: 0.75rem;
    background-color: white;
    border-color: var(--line-color);
    border-radius: 50%;
    border-width: 0.15rem;
    border-style: solid;
    position: relative;
    transform: translate(-50%, 50%);
    z-index: 2;
}

.current-station .station-dot {
    width: 1.25rem;
    height: 1.25rem;
    border-width: 0.4rem;
    transition: 0.2s ease-in;
    transition: 0.1s ease-out;
}

.station-frag-content.overflow .station-frag-name,
.station-frag-content.overflow .transfer-lines {
    transform: translateX(0.8em);
}

.station-frag-content.overflow .station-frag-name {
    margin-left: 1.5em;
}


/* 
STYLING MODIFICATIONS FOR VERTICAL UPCOMING STATIONS 
*/

.upcoming-stations-vertical-container .station-frag-container .station-frag-content {
    transform: rotate(0deg); /* vertical list requires no rotate */
    top: 2em;
    left: 6em;
    margin-bottom: 0;
}

/* TODO: figure out visual change for the current station  */
.current-station-vertical .station-dot::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--line-color);
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
}

.current-station .station-frag-name,
.current-station-vertical .station-frag-name {
    text-decoration: underline;
    text-decoration-color: var(--line-color);
    text-underline-offset: 2px;
    text-decoration-thickness: 3px;
}

.current-station-vertical .station-frag-name {
    color: var(--line-color);
    filter: brightness(140%) saturate(85%);
    opacity: 0.9;
}
