/* Station.css */
.station-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--station-bg);
    min-width: var(--station-min-width, 220px);
    padding: 13px 1em 1em;
    position: relative;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 0.5em 0.75em var(--box-shadow);
}


.station-container::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 1px;
    right: 1px;
    height: 1px;
    background-color: white;
}

.station-name {
    color: white;
    margin-bottom: 0.25em;
    width: 100%;
    margin-top: 0.25em;
    font-size: 22px;
}

.transfers-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.25em;
}

