.station-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--station-bg);
    min-width: var(--station-min-width, 220px);
    max-width: fit-content;
    height: fit-content;
    padding: 13px 1em 1em;
    position: relative;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 0.5em 0.75em var(--box-shadow);

    opacity: 1;
    transition: opacity 0.5s ease;
}

.station-wrapper.no-lines.hidden {
    opacity: 0;
    margin-bottom: 0;
    max-height: 0;
}

.no-lines {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75em;
}

.station-container::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 1px;
    right: 1px;
    height: 1px;
    background-color: white;
}

.station-name {
    color: white;
    margin-bottom: 0.25em;
    width: 100%;
    margin-top: 0.25em;
    font-size: 22px;
    font-stretch: 200% 200%;
    letter-spacing: 0.03em;
}

.shrink-station-name {
    font-size: 18px;
}


/* rider mode current station styling (no lines) */
.destination-station-right {
    border: dashed 1px var(--text-color-opaque);
}

.no-lines>.station-container {
    box-shadow: none;
    min-width: 25em;
    padding: 0.25em 5em 0 0.5em;
}


.station-wrapper.no-lines {
    transition: opacity 0.2s ease, transform 0.5s ease, margin 0.5s ease, max-height 0.4s ease;
    opacity: 1;
    transform: translateY(0);
    margin-bottom: 1em;
    max-height: 2em;
}