h2 {
    user-select: none;
    font-size: 1.6em;
}

.train-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75em;
}

.arrow {
    height: 2em;
    width: 2em;
}

.arrow-up {
    transform: rotate(-90deg);
}

.arrow-down {
    transform: rotate(90deg);
}

.arrow-left {
    transform: rotate(180deg);
}

.arrow-left:hover,
.arrow-up:hover,
.arrow-down:hover {
    transform: scale(1.05);
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.train-car {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--train-car-bg);
    max-width: 100%;
    min-width: 20em;
    padding: 1em 1em 0 1em;
    position: relative;
    box-sizing: border-box;
    border-radius: 1em 1em 0.2em 0.2em;
    box-shadow: 0 0.5em 1em var(--box-shadow);
    gap: 0.3em;
}

.train-car::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 1px;
    right: 1px;
    height: 1px;
    background-color: var(--train-car-border);
}

.doors {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0.5em 1em 0 1em;
    gap: 0;
    align-self: stretch;
}

.windows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    padding-bottom: 1.2em;
}

.windows#train-info {
    width: 34em;
    overflow: visible;
    white-space: nowrap;
    flex-shrink: 0;
}



/* Windows styling */
.train-car .train-direction,
.train-car .train-type,
.train-car .line-svgs-container img.line-svg-image {
    border: 1px solid var(--train-car-border);
    padding: 0.3em;
    border-radius: 0.1em;
}

.train-car .line-svgs-container img.line-svg-image {
    border-radius: 0.2em;
    padding: 0.43em;
    cursor: default;
    /* transform: none; */
}

.front-window {
    border: 1px solid var(--train-car-border);
    padding: 0.3em;
    border-radius: 0.1em;
}

.front-window:before {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0';
}

.is-null-direction {
    animation: pulse 1.5s ease-in-out infinite;
}