h2 {
    user-select: none;
    font-size: 1.6em;
}

.train-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75em;
}

.arrow {
    height: 2em;
    width: 2em;
}

.arrow-vertical {
    height: 2em;
    width: 2em;
    transform: rotate(-90deg);
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.train-car {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--train-car-bg);
    min-width: 20em;
    padding: 1em 1em 0 1em;
    position: relative;
    box-sizing: border-box;
    border-radius: 1em 1em 0.2em 0.2em;
    box-shadow: 0 0.5em 1em var(--box-shadow);
    gap: 0.3em;
}

.train-car::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 1px;
    right: 1px;
    height: 1px;
    background-color: var(--train-car-border);
}

.windows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    padding-bottom: 1.2em;
}

.windows#train-info {
    min-width: 33em;
}

.is-null-direction {
    animation: pulse 1.5s ease-in-out infinite;
}

/* Windows styling */
.train-car .train-direction,
.train-car .train-type,
.train-car .transfer-lines-container img.transfer-line-image {
    border: 1px solid var(--train-car-border);
    padding: 0.3em;
    border-radius: 0.1em;
}

.train-car .transfer-lines-container img.transfer-line-image {
    border-radius: 0.2em;
    padding: 0.43em;
    cursor: default;
    transform: none;
}

.front-window {
    border: 1px solid var(--train-car-border);
    padding: 0.3em;
    border-radius: 0.1em;
}

.front-window:before {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0';
}
