.upcoming-stations-vertical-container {
    position: relative;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 90vh;
    scroll-padding-bottom: 1em;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.upcoming-stations-vertical-container.hidden {
    opacity: 0;
}

.stations-vertical {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    gap: 1.5em;
    width: 20em;
}

.line-divider-vertical {
    background-color: var(--line-color);
    position: absolute;
    height: 0.3rem;
    z-index: 0;
    left: 6.65em;
    transform: translateX(-50%) rotate(90deg); /* rotate (obvi) */
    top: 25vh;
}
