.upcoming-stations-horizontal-container {
    position: relative;
    max-width: 100vw;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    scrollbar-width: none;
    -ms-overflow-style: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.upcoming-stations-horizontal-container.hidden {
    opacity: 0;
}

.stations-horizontal {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    height: 20em;
    column-gap: 1px;
    z-index: 1;
    margin-bottom: 1.5em;
}

.line-divider {
    background-color: var(--line-color);
    position: absolute;
    height: 0.3rem;
    bottom: 1.4em;
    left: 0;
    z-index: 0;
}

.current-station {
    font-weight: bold;
}
