.train-direction {
    color: var(--text-color);
    margin-bottom: 0.25em;
    width: fit-content;
    margin-top: 0.25em;
    transition: transform 0.1s;
    text-align: center;
    flex-grow: 0.5;
}

.train-direction:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform ease-in 0.1s;
}

.train-direction:active {
    transform: scale(0.98);
}

.train-direction.no-reverse-action {
    pointer-events: none;
    /* transform: none; */
}

.train-type {
    color: var(--text-color);
    margin-bottom: 0.25em;
    white-space: nowrap;
    margin-top: 0.25em;
    word-wrap: normal !important;
    margin-left: 0.15em;
    text-align: center;
    flex-grow: 0.2;
}

.train-car-line {
    margin-left: 0.25em;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}