.train-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    opacity: 1;
    transition: opacity 0.25s ease-in
}

/* another chrome-specific spacing adjustment (I still refuse to surrender my Firefox) */
.chrome .train-wrapper {
    zoom: 0.9;
}

.train-wrapper.uptown {
    padding-bottom: 32px;
}

.train-wrapper.downtown {
    padding-top: 32px;
}

.train-wrapper.uptown::after {
    bottom: 0;
    border-top: 2px solid rgb(249, 203, 165)
}

.train-wrapper.downtown::after {
    top: 0;
    border-bottom: 2px solid rgb(249, 203, 165)
}

.train-wrapper.inactive {
    opacity: 0.4;
}

.train-wrapper.hidden {
    opacity: 0;
}

.train-advance-button {
    width: 5em;
}

.train-car.flipped-layout {
    transform: scaleY(-1);
    border-radius: 1em 1em 0.2em 0.2em;
}

.train-car.flipped-layout .windows * {
    transform: scaleY(-1);
}

.train-car.flipped-layout #train-info .rollsign-animate {
    transform: none
}

.train-car.flipped-layout .doors {
    padding-top: 0em;
}

/* PLATFORM EDGES (please stand away) */
.train-wrapper.uptown::after, .train-wrapper.downtown::after {
    content: "";
    position: absolute;
    left: 3.25em;
    width: 90%;
    height: 24px;

    /* HISTORICAL PROJECT ARTIFACT:
    * The below line was what was originally drawing the tiny dots for the platform edge. 
    * This was fine, until Firefox decided to cheap out on their rendering engine, causing massive lag ONLY in Firefox (my beloved browser) 
    * The flaw was the "repeat" keyword combined with a tiny background-size, which abused the browser/CPU to rasterize 9000+ unique radial gradients on every action. 
    * Somehow Chrome was able to handle it easily (not sure what engine they have), but we must be good web developers and optimize for ALL browsers (except Edge). 
    */
    /* background: radial-gradient(circle, rgb(242, 242, 168) 40%, transparent 41%) repeat, rgba(0, 0, 0, 0.05); */

    /* Instead, we use a url encoded SVG circle, and place columns of 4 over/under the train. 
       Since this is in the :before of the element, the columns of circles are repeated across the width of the train. */
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 4 4' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='1' fill='rgb(242, 242, 168)' fill-opacity='0.8' /%3E%3C/svg%3E");

    background-size: 3px 3px;
    background-position: center;
    z-index: 0;
    border-radius: 2px;
}