.action-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.action-button-wrapper.hidden {
    visibility: hidden;
    pointer-events: none;
}

.action-button-container {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    z-index: 2;
    opacity: 1;
    max-width: 9rem;
    align-items: center;
}

.action-button {
    all: unset;
    border-radius: 0.5em;
}

.action-button:hover {
    cursor: pointer;
}

.action-button .icon-wrapper {
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.action-button:active .icon-wrapper {
    transform: scale(0.95);
    outline: 0.15em solid var(--line-color);
    outline-offset: 0.1em;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.action-button.no-image {
    border: 0.1em solid var(--bg-color-3);
    border-radius: 0.5em;
    padding: 0.5em 2em;
    background-color: var(--bg-color-2);
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.action-button.no-image:hover {
    background-color: var(--bg-color-3);
}

.action-button.no-image:active {
    transform: scale(0.95);
    outline: 0.15em solid var(--line-color);
    outline-offset: 0.1em;
    outline-width: 0.2em;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    padding: 0.5em;
    background-color: var(--bg-color-2);
    border: 0.1em solid var(--bg-color-3);
    border-radius: 0.5em;
}

.icon-wrapper:hover {
    transform: scale(1.08);
    background-color: var(--bg-color-3);
}

.icon {
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.button-label {
    margin: 0.5em 0 0 0;
    width: min-content;
    font-size: medium;
    font-weight: 600;
    font-family: Helvetica, system-ui, sans-serif;
    word-wrap: break-word;
}

.button-text {
    font-weight: 600;
    font-size: 1.2rem;
    font-family: Helvetica, system-ui, sans-serif;
    white-space: nowrap;
}

.small-button {
    height: 1.25rem;
    width: 1.25rem;
}