.umbrella-button-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
}

.umbrella-button {
    display: flex;
    cursor: pointer;
    opacity: 1;
}

.umbrella-content {
    display: flex;
    flex-direction: column;
    gap: 0.75em;

    position: absolute;
    left: 50%;
    width: max-content;
    transform: translateX(-20px);

    background: var(--bg-color);
    padding: 1em;
    border-radius: 8px;
    border: 1px solid var(--bg-color-3);
    z-index: 10;
    opacity: 0;
}

.umbrella-content.visible {
    height: fit-content;
    width: max-content;
    opacity: 0.95;
}

.umbrella-content.hidden {
    opacity: 0;
}

.umbrella-content.above {
    bottom: 100%;
    margin-bottom: 1em;
    padding-bottom: 0;
}

.umbrella-content.below {
    top: 100%;
    margin-top: 1em;
}

.popup-arrow {
    position: relative;
    top: 0.6em;

    width: 0;
    height: 0;

    /* Triangle */
    border-left: 0.6em solid transparent;
    border-right: 0.6em solid transparent;
    border-top: 0.6em solid var(--bg-color-3);
}

.below .popup-arrow {
    position: absolute;
    transform: rotate(180deg);
    top: -0.6em;
    left: 0.75em;
}

.above .popup-arrow {
    right: 0.25em;
}