:root {
    --bg-color: #eee;
    --bg-color-2: #ddd;
    --bg-color-3: rgb(187 187 187);
    --bg-color-3-opacity: rgba(187, 187, 187, 0.9);
    --text-color: #222;
    --text-color-opaque: #22222280;
    --box-shadow: rgba(0, 0, 0, 0.04);
    --station-bg: rgb(27, 26, 26);
    --train-car-bg: rgb(200, 200, 200);
    --train-car-border: rgb(74, 74, 74);
    --overlay-opacity: 1;
    --transfer-opacity: 1;
}

.dark-mode {
    --bg-color: #1e1e1e;
    --bg-color-2: #252525;
    --bg-color-3: rgb(51 51 51);
    --bg-color-3-opacity: rgba(51, 51, 51, 0.9);
    --text-color: white;
    --text-color-opaque: rgba(255, 255, 255, 0.5);
    /* --box-shadow: rgba(255, 255, 255, 0.1); */
    --train-car-bg: rgb(84, 83, 83);
    --train-car-border: rgb(6, 6, 6);
}

.transfer-mode {
    --overlay-opacity: 0.3;
    --transfer-opacity: 1;
}

body,
#root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    user-select: none;
}

.Game {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    max-width: 1400px;
    padding: 2em;
    box-sizing: border-box;
    position: relative;
    overflow-y: none;
    overflow-x: visible;
    margin-bottom: 4em;
}

.Game.rider-mode {
    margin-bottom: 0;
    padding-bottom: 1em;
}

.game-state-ui {
    position: relative;
    top: 0;
    left: 0;
    transition: top ease 0.2s, left ease 0.2s;
    gap: 1em;
}

.game-state-ui.is-vertical-layout {
    top: -6em;
    left: -4em;
}

.umbrella-menus {
    display: flex;
    flex-direction: row;
    gap: 1em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 10;
}

.settings-umbrella {
    position: fixed;
    top: 2em;
    left: 2em;
}

.shortcuts-umbrella {
    position: fixed;
    bottom: 2em;
    left: 2em;
    opacity: 1;
}

.upcoming-stations-vertical {
    position: fixed;
    left: 80%;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
}

.dark-mode-toggle-button {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dimmed-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    height: 100vh;
    width: 100vw;
}

.dimmed-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.not-dim {
    /* position: relative; */
    z-index: 10;
    opacity: 1;
}