.platform-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.platform {
    min-height: 21em;
    width: 60vw;
}

.transfer-stairs-left {
    position: absolute;
    right: 100%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1em;
    width: 10em;
}

.train-cars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.uptown-button-offset {
    position: relative;
    bottom: 30px;
    z-index: 1;
}

.downtown-button-offset {
    position: relative;
    top: 30px;
    z-index: 1;
}