/* TransferLines.css */
.transfer-lines-container {
    display: flex;
    column-gap: 0.25em;
}
  
.transfer-line-image {
    height: 2rem;
    width: 2rem;
}

#current-station .transfer-line-image:hover {
    cursor: pointer;
    transform: scale(1.06);
    transition: transform 0.1s;
}

