.stations-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-top: 1em;
}

.station-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1;
    width: 26em;
    max-width: 26em;
    background-color: var(--bg-color-2);
    border: 3px solid var(--bg-color-3);
    border-radius: 0.75em;
    padding: 0.2em 2em 1em 2em;
    box-shadow: 0 0 0.25em var(--box-shadow);
}

.win-state .train-car {
    box-shadow: 0 0.5em 0.75em rgba(90, 232, 149, 0.3), 0 0 5em rgba(90, 232, 149, 0.2);
    border-radius: 1em 1em 0.2em 0.2em;
}

.conductor-mode-buttons-container {
    display: flex;
    column-gap: 1em;
    padding-left: 0.5em;
}

.station-box h2 {
    margin-bottom: 15px;
}

.station-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.action-buttons-container#destination-station {
    justify-content: flex-end;
}

.mobile-train-wrapper {
    display: none;
}

@media (max-width: 768px) {
    .desktop-train-wrapper {
        display: none;
    }

    .conductor-layout-wrapper {
        display: grid;
        grid-template-rows: minmax(max-content, 1fr) auto;
        width: 100%;
        height: 100%;
        min-height: 0;
    }

    .stations-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1em;
        width: 100%;
        min-height: 0;
        margin-top: 4em;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .station-box {
        flex: 0 0 auto;
        width: 100%;
        max-width: 26em;
        padding: 0.2em 0.5em;
        margin: 0;
        box-sizing: border-box;
    }

    .dest-actions {
        display: none;
    }

    .mobile-train-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 5em;
    }

    .destination-station-box {
        order: 1;
    }

    .current-station-box {
        order: 2;
        position: relative;
        border-color: var(--line-color);
    }

    .Game.one-column>.game-state-ui .conductor-layout-wrapper .stations-container {
        align-items: center;
    }

    .Game.one-column>.game-state-ui .conductor-layout-wrapper .stations-container .station-box {
        width: calc(100% - 8em);
    }
}