.landing-screen-container {
    position: fixed;
    z-index: 1000;
    animation: fadeIn 0.6s ease;
    border-radius: 0.5em;
}

.landing-screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color-2);
    color: var(--text-color);
    padding: 4em;
    text-align: center;
}

.landing-screen-content h1 {
    margin-bottom: 0.5em;
    font-size: xx-large;
}

.landing-screen-content p {
    font-size: large;
    margin-bottom: 2em;
    width: 25em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}